*,body {
	font-family: 'roboto',sans-serif;
}

table {
	border-collapse: collapse;
	width: 50%;
}

table th {
	text-align: center;
	background-color: #1f1f1f;
	color: #f4f4f4;
}

table td {
	border: 1px solid #1f1f1f;
	padding: 10px;
}


.btn-update-delete a {
	text-decoration: none;
	padding: 5px;
	font-size: 12px;
}

/*Component*/
.green {
	color: #f4f4f4;
	background-color: #52dc90;
	border: 1px solid #52dc90; 
}

.red {
	color: #f4f4f4;
	background-color: #f00;
	border: 1px solid #f00;
}

.button {
	margin-top: 20px;
}

.btn{
	border: 1px solid green;
	padding: 5px 5px 5px 5px;
	color: #f4f4f4;
	background-color: green;
	text-decoration: none;
}